TRACECLIENT.env 
.idea/**
.cache/**
.clj-kondo/**
.calva/**
.lsp/sqlite.5.db
.lsp/sqlite.db
namespaces.old/ns1.clj
namespaces.old/ns2.clj
.DS_Store
src/http/ENV.clj
src/http/.DS_Store
target/**
STREAM-VIEWER
heapdump.20210216.081338.12512.0002.phd
javacore.20210216.081338.12512.0003.txt
doc.pdf
clj.code-workspace
.nrepl-port
.lein-repl-history
Snap.20210216.081338.12512.0004.trc
MAMBU-DWH
.lsp/.cache/data.mdb
.lsp/.cache/lock.mdb
.lsp/.cache/sqlite.db
CSV-FILES/*
CC-Purchase.clj
CCPAY_DATA.clj
DEPOSIT-PROD.edn
DEPOSIT-PROD.json
LOAN-PROD.edn
LOAN-PROD.json
PayIn3.clj
PROMO.clj
BNPL.clj 
CasC-customFields-export-all-orig.yaml
CasC-customFields-export-all.yaml
CasC-customFields-export-part.yaml
CasC-customFields-import.yaml
CasC-customFields-template.yaml
CAPCAT/**
resources-dev/public/test.txt
resources-dev/public/test2.txt
resources-dev/public/test3.html
resources-dev/public/folder1/t1.txt
resources-dev/public/folder1/t2.txt
.lsp/.cache/db.transit.json
heapdump.*
javacore.*
Snap.*
